<div class="container mt-3">
  <a href="/todo/form" class="btn btn-primary">Create</a>
  <ul class="nav nav-tabs mt-2">
    <li class="nav-item">
      <a class="nav-link <%= 'active' if @completed=="false" %>" href="/todo?completed=false&page=1">Incomplete</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if @completed.nil? %>" href="/todo?page=1">All</a>
    </li>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if @completed=="true" %>" href="/todo?completed=true&page=1">Completed</a>
    </li>
  </ul>
  <% @todos.each.with_index do |todo, index| %>
    <% if index%3 == 0 %>
      <div class="card-group mb-2">
      <% end %>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title"><%= todo.title %></h5>
          <p class="card-text"><%= todo.description %></p>
          <div class="btn-group" style="display:none">
            <form method="POST" action="/todo/toggle/<%= todo.id %>" style="display:inline">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <button class="btn btn-<%= todo.completed ? 'secondary' : 'success' %>" data-toggle="tooltip" data-placement="top" title="<%= todo.completed ? 'Mark as incomplete' : 'Mark as complete' %>  ">
                <% if todo.completed %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-counterclockwise" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M8 3a5 5 0 1 1-4.546 2.914.5.5 0 0 0-.908-.417A6 6 0 1 0 8 2v1z"/> <path d="M8 4.466V.534a.25.25 0 0 0-.41-.192L5.23 2.308a.25.25 0 0 0 0 .384l2.36 1.966A.25.25 0 0 0 8 4.466z"/>
                  </svg>
                <% else %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-lg" viewBox="0 0 16 16">
                    <path d="M13.485 1.431a1.473 1.473 0 0 1 2.104 2.062l-7.84 9.801a1.473 1.473 0 0 1-2.12.04L.431 8.138a1.473 1.473 0 0 1 2.084-2.083l4.111 4.112 6.82-8.69a.486.486 0 0 1 .04-.045z"/>
                  </svg>
                <% end %>
              </button>
            </form>
            <a href="/todo/form/<%= todo.id %>" class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Edit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil" viewBox="0 0 16 16">
                <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
              </svg></a>
            <form method="POST" action="/todo/delete/<%= todo.id %>" style="display:inline">
              <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
              <button class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Delete"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                  <path d="M1.293 1.293a1 1 0 0 1 1.414 0L8 6.586l5.293-5.293a1 1 0 1 1 1.414 1.414L9.414 8l5.293 5.293a1 1 0 0 1-1.414 1.414L8 9.414l-5.293 5.293a1 1 0 0 1-1.414-1.414L6.586 8 1.293 2.707a1 1 0 0 1 0-1.414z"/>
                </svg></button>
            </form>
          </div>
        </div>
        <div class="card-footer text-muted">
          <%= todo.event_date.to_formatted_s(:long)  %>
        </div>
      </div>
      <% if (index%3==2 || index == @todos.size-1) %>
      </div>
    <% end %>
  <% end %>
  <% if @todos.size>0 %>
  <nav>
    <ul class="pagination justify-content-center">
      <li class="page-item <%= 'disabled' if @page==1 %>">
        <a class="page-link" href="<%= set_page_param_in_query_string(request,@page-1) %>">Previous</a>
      </li>
      <% if @page>1 %>
        <li class="page-item"><a class="page-link" href="<%= set_page_param_in_query_string(request,@page-1) %>"><%= @page-1 %></a></li>
      <% end %>
      <li class="page-item active"><a class="page-link" href="<%= set_page_param_in_query_string(request,@page) %>"><%= @page %></a></li>
      <% if @count>@page*6 %>
        <li class="page-item"><a class="page-link" href="<%= set_page_param_in_query_string(request,@page+1) %>"><%= @page+1 %></a></li>
      <% end %>
      <li class="page-item <%= 'disabled' if @count<=@page*6 %>">
        <a class="page-link" href="<%= set_page_param_in_query_string(request,@page+1) %>">Next</a>
      </li>
    </ul>
  </nav>
  <% end %>
</div>
<% content_for :javascript do %>
  <%= javascript_include_tag "show_all" %>
<% end %>
